extends ../global/preview

block preview
    - var set = setThinking

    +header
    section
        +iframe(setThinking, '728x90')
        .container
            +inlineIframe(setThinking, '300x250')
