extends ../global/preview

block preview
    - var set = setFleet

    +header
    section
        +iframe(set, '728x90')
        .container
            +inlineIframe(set, '300x600')
            +inlineIframe(set, '160x600')
            .inline
                +iframe(set, '320x50')
                +iframe(set, '300x250')
